{% extends "base.html" %}


{% block title %}Управление магазином {% endblock %}

{% block h1 %}Управление контентом и заказами{% endblock %}

{% block content %}
{% if user.profile.sale_staff %}
<div class='row'>
    <div class="col-md-4">
        <div class="p-3 mb-3 text-left bg-info">
        <h4>Добавить ресурс:</h4>
        </div>
        <div class="my-1 text-left">
            <a href="{% url 'stmanager:book_create' %}" class="btn btn-outline-dark btn-block">Добавить новую книгу</a>
        </div>
        <div class='my-1 text-left'>
            <a href="{% url 'stmanager:series_create' %}" class="btn btn-outline-dark btn-block">Добавить новую серию книг</a>
        </div>
        <div class='my-1 text-left'>
            <a href="{% url 'stmanager:publisher_create' %}" class="btn btn-outline-dark btn-block">Добавить новое издательство</a>
        </div>
        <div class="my-1 text-left">
            <a href="{% url 'stmanager:genre_create' %}" class="btn btn-outline-dark btn-block">Добавить новый жанр</a>
        </div>
        <div class="my-1 text-left">
        <a href="{% url 'stmanager:author_create' %}" class="btn btn-outline-dark btn-block">Добавить нового автора</a>
        </div>
    </div>
    <div class="col-md-8">
        <div class="p-3 mb-3 bg-warning text-center">
            <h4>Заказы в магазине:</h4>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}