<nav class="navbar navbar-expand-lg navbar-dark navbar-modif">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Книжный магазин</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=" {% url 'books:books' %} ">Каталог</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Справочники
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'refshelf:authors' %}">Авторы</a></li>
              <li><a class="dropdown-item" href="{% url 'refshelf:genres' %}">Жанры</a></li>
              <li><a class="dropdown-item" href="{% url 'refshelf:publishers' %}">Издательства</a></li>
              <li><a class="dropdown-item" href="{% url 'refshelf:serieses' %}">Серии книг</a></li>
            </ul>
          </li>
        </ul>
        <div class='navbar-nav d-flex'>
          <a class="nav-link" href="{% url 'carts:cart_detail' %}"><i class="bi bi-cart"></i></i>Корзина</a>
        </div>>        
        <div class=" navbar-nav d-flex">
          {% if user.is_authenticated %}
            {% if user.profile.sale_staff %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Сотрудник
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href=" {% url 'users:profile' %} ">Профиль</a></li>
                    <li><a class="dropdown-item" href="{% url 'stmanager:create_res' %}">Управление</a></li>
                  </ul>
                </li>            
            {% else %}
            <a class="nav-link" href=" {% url 'users:profile' %} ">Профиль</a>
            {% endif %}
            <a class="nav-link" href=" {% url 'users:logout' %} ">Выход</a>
          {% else %}
          <a class="nav-link" href=" {% url 'users:register' %} ">Регистрация</a>
          <a class="nav-link" href=" {% url 'users:login' %} ">Вход</a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
  <div class='container-fluid my-1'>
  <div class='row justify-content-md-center '>
    <div class="col-md-2"></div>
    <div class="col-md-auto">
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Название книги... " aria-label="Поиск">
        <button class="btn btn-default" type="submit">Поиск</button>
      </form>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>