<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airports codes</title>
</head>
<body>
    <h1>Decode Airport Code</h1>
    <h3>Use link to decode:</h3>
    <ul>
        <li><a href="/DXB">DXB</a></li>
        <li><a href="/HAJ">HAJ</a></li>
        <li><a href="/HAN">HAN</a></li>
        <li><a href="/LGW">LGW</a></li>
        <li><a href="/LHR">LHR</a></li>
        <li><a href="/LAX">LAX</a></li>
        <li><a href="/ORY">ORY</a></li>
        <li><a href="/ROM">ROM</a></li>
        <li><a href="/SIN">SIN</a></li>
        <li><a href="/VNO">VNO</a></li>
    </ul>   
</body>
</html>